<div class="modal-header">
  <button ng-click='ctrl.cancel()' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ ctrl.book.title }}</h4>
</div>
<div class="modal-body">
  <p>{{ ctrl.book.description }}</p>
</div>
<div class="modal-footer">
  <button ng-click='ctrl.cancel()' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>