<div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand"></a>
    </div>
    <ul class="navbar-right nav navbar-nav">
        <li ng-hide="$state.current.name == 'create'">
            <a href="#" ui-sref="create" class="btn-green"><i class="icon ion-ios-plus-empty"></i>Start Writing!</a>
        </li>
        <li>
            <a href="#"><i class="icon ion-flash"></i></a>
        </li>
        <li>
            <a href="#"><i class="icon ion-chatbox"></i></a>
        </li>
        <li>
            <a href="#"><i class="icon ion-android-globe"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span>Hi, {{ ctrl.AuthService.auth.username }}</span>
                <img src="{{ ctrl.AuthService.auth.image }}" class="img-responsive img-circle avatar-xs">
                <span class="icon ion-ios-arrow-down"></span>
            </a>
        </li>
    </ul>
</div>