<div class="activities">
    <ul class="nav-links">
        <div>
            <!-- 
            <div class="pull-right">
                <a href="#"><span class="icon ion-ios-arrow-thin-right"></span></a>
            </div> -->
            <p class="nav-title">Recent Activities</p>
        </div>
        <li class="item">
            <a href="#">
                <div class="user-profile">
                    <div class="avatar-as pull-left">
                        <div class="photo img-circle" style="background-image:url('/static/images/userx3.png');">
                        </div>
                    </div>
                    <div class="details">
                        <div>
                            <div class="pull-right">
                                <span>2m</span>
                            </div>
                            <p>Username Lastname</p>
                        </div>
                        <p>
                            Released a new book called how to stay beast mode when your life is a joke.
                        </p>
                    </div>
                </div>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <div class="user-profile">
                    <div class="avatar-as pull-left">
                        <div class="photo img-circle" style="background-image:url('/static/images/userx3.png');">
                        </div>
                    </div>
                    <div class="details">
                        <div>
                            <div class="pull-right">
                                <span>2m</span>
                            </div>
                            <p>Username Lastname</p>
                        </div>
                        <p>
                            Released a new book called how to stay beast mode when your life is a joke.
                        </p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>