$Lato-Light: 'Lato Light';
$Lato-Regular: 'Lato Regular';
$Lato-Bold: 'Lato Bold';
$Open-Sans-Light: 'Open Sans Light';
$Open-Sans-Regular: 'Open Sans Regular';
$Open-Sans-Semibold: 'Open Sans Semibold';
$Open-Sans-Bold: 'Open Sans Bold';