$Lato-Light: 'Lato Light';
$Lato-Regular: 'Lato Regular';
$Lato-Bold: 'Lato Bold';
$Open-Sans-Light: 'Open Sans Light';
$Open-Sans-Regular: 'Open Sans Regular';
$Open-Sans-Semibold: 'Open Sans Semibold';
$Open-Sans-Bold: 'Open Sans Bold';
$Proxima-Nova-Regular: 'Proxima Nova Regular';
$Proxima-Nova-Thin: 'Proxima Nova Thin';
$Lora: 'Lora';
$Montserrat-Black: 'Montserrat-Black';
$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-Light: 'Montserrat-Light';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-Thin: 'Montserrat-Thin';
$SourceSansPro-Black: 'SourceSansPro-Black';
$SourceSansPro-Blacklt: 'SourceSansPro-Blacklt';
$SourceSansPro-Bold: 'SourceSansPro-Bold';
$SourceSansPro-ExtraLight: 'SourceSansPro-ExtraLight';
$SourceSansPro-Light: 'SourceSansPro-Light';
$SourceSansPro-Regular: 'SourceSansPro-Regular';
$SourceSansPro-Semibold: 'SourceSansPro-Semibold';