<div class="main-container">
    
    <div ng-include
         src="'/static/apps/templates/users/profile/header.html'"></div>

    <div class="profile-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <div class="profile-sidebar">
                        <ul>
                            <li>
                                <a href="#" class="hvr-sweep-to-right"><span class="icon ion-icecream"></span> Personal</a>
                            </li>
                            <li>
                                <a href="#" class="hvr-sweep-to-right"><span class="icon ion-qr-scanner"></span> Appearance</a>
                            </li>
                            <li>
                                <a href="#" class="hvr-sweep-to-right"><span class="icon ion-umbrella"></span> Privacy and Security</a>
                            </li>
                            <li>
                                <a href="#" class="hvr-sweep-to-right"><span class="icon ion-stats-bars"></span> Analytics</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <label style="color: red">Update Profile Photo</label>
                    <input 
                        type="file" 
                        name="image"
                        ngf-select
                        ng-model="user.image"
                        ngf-accept="'image/*'"
                        ng-change="ctrl.updatePhoto(user)">
                    <label style="color: red">Update Cover Photo</label>
                    <input 
                        type="file" 
                        name="image"
                        ngf-select
                        ng-model="user.cover"
                        ngf-accept="'image/*'"
                        ng-change="ctrl.updateCover(user)">
                    <div class="panel with-nav-tabs">
                        <div class="panel-heading">
                            <ul class="nav   nav-tabs secondary-nav"> 
                                <li>
                                    <a href="#profile" class="active" id=""  data-toggle="tab">Profile</a>
                                </li>
                                <li>
                                    <a href="#account" id="" data-toggle="tab">Account</a>
                                </li>
                                <li>
                                    <a href="#preferences" id="" data-toggle="tab">Preferences</a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="profile">
                                    <form name="profileForm" ng-submit="profileForm.$valid && ctrl.updateProfile(ctrl.user)" novalidate>
                                        <div class="input-field">
                                            <span class="input-container" ng-class="{'error':profileForm.first_name.$error.required}">
                                                <input 
                                                    name="first_name"
                                                    placeholder="First name" 
                                                    type="text" 
                                                    ng-model="ctrl.user.first_name"
                                                    required>
                                                <span class="error-message" ng-show="profileForm.first_name.$error.required">
                                                    Please provide your first name</span>
                                            </span>
                                            <span class="input-container" ng-class="{'error':profileForm.last_name.$error.required}">
                                                <input 
                                                    name="last_name" 
                                                    placeholder="Last name" 
                                                    type="text"
                                                    ng-model="ctrl.user.last_name"
                                                    required>
                                                <span class="error-message" ng-show="profileForm.last_name.$error.required">
                                                    Please provide your last name</span>
                                            </span>
                                            <span class="input-container" ng-class="{'error':profileForm.birthday.$error.required}">
                                                <input
                                                    name="birthday"
                                                    placeholder="Birthday" 
                                                    type="date"
                                                    ng-model="ctrl.user.birthday"
                                                    required>
                                                <span class="show-profile">
                                                        <label>
                                                            <input type="checkbox" name="">Show on profile
                                                        </label>
                                                </span>
                                                <span class="error-message" ng-show="profileForm.birthday.$error.required">
                                                    Please provide your birthdate</span>
                                            </span>
                                            <span class="input-container" ng-class="{'error':profileForm.gender.$error.required}">
                                                <select name="gender" class="form-control" ng-model="ctrl.user.gender" required>
                                                    <option value="female">Female</option>
                                                    <option value="male">Male</option>
                                                 </select>
                                                 <span class="show-profile">
                                                    <label>
                                                        <input type="checkbox" name="">Show on profile
                                                    </label>
                                                 </span>
                                                 <span class="error-message" ng-show="profileForm.gender.$error.required">
                                                    Please provide your gender</span>
                                            </span>
                                             <span class="input-container" ng-class="{'error':profileForm.phone.$error.required || profileForm.phone.$error.pattern}">
                                                <input 
                                                    name="phone"
                                                    placeholder="Phone" 
                                                    type="text"
                                                    ng-pattern="/^[0-9+(+)+-]*$/"
                                                    ng-model="ctrl.user.phone"
                                                    required>
                                                <span class="error-message" ng-show="profileForm.phone.$error.required">
                                                    Please provide your phone number</span>
                                                <span class="error-message" ng-show="profileForm.phone.$error.pattern">
                                                    Please provide valid phone number</span>
                                             </span>
                                            <span class="input-container" ng-class="{'error':profileForm.location.$error.required}">
                                                <input 
                                                    name="location"
                                                    placeholder="Location" 
                                                    type="text"
                                                    ng-model="ctrl.user.location"
                                                    required>
                                                <span class="error-message" ng-show="profileForm.location.$error.required">
                                                    Please provide you first name</span>
                                            </span>
                                            <span class="input-container">
                                                <textarea 
                                                    class="form-control"
                                                    ng-model="ctrl.user.about_me">
                                                </textarea>
                                            </span>
                                            <div class="actions">
                                                <div class="pull-right">
                                                    <button type="submit" class="green-br">Save</button>
                                                </div>
                                                <div class="pull-right">
                                                    <button type="button" class="br-default" ng-click="ctrl.cancelUpdate()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="account">
                                    <div class="input-field">
                                        <span class="input-container">
                                            <input placeholder="Username" type="text">
                                            <span class="error-message">You can't leave this blank</span>
                                        </span>
                                        <span class="input-container error">
                                            <input placeholder="E-mail" type="text">
                                            <span class="error-message">You can't leave this blank</span>
                                        </span>
                                        <span class="input-container">
                                            <a href="#changepw" data-toggle="tab" class="changepw">Change password</a>
                                        </span>
                                        
                                        <div class="actions">
                                            <div class="pull-right">
                                                <a href="#" class="green-br">Save</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="#" class="br-default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="changepw">
                                    <div class="input-field">
                                        <span class="input-container">  
                                            <div class="show-profile">
                                                <label>Password</label>
                                            </div>
                                        </span>
                                        <span class="input-container">
                                            <input placeholder="Current password" type="text">
                                            <span class="error-message">You can't leave this blank</span>
                                        </span>
                                        <span class="input-container error">
                                            <input placeholder="New Password" type="text">
                                            <span class="error-message">Please enter your correct password</span>
                                        </span>
                                        <span class="input-container error">
                                            <input placeholder="Confirm Password" type="text">
                                            <span class="error-message">Password did not match</span>
                                        </span>
                                        
                                        <div class="actions">
                                            <div class="pull-right">
                                                <a href="#" class="green-br">Save</a>
                                            </div>
                                            <div class="pull-right">
                                                <a href="#" class="br-default">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="preferences">
                                    preferences
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>