<div class="main-container">
    
    <div ng-include
         src="'/static/apps/templates/users/profile/header.html'"></div>

    <div class="profile-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <div class="profile-sidebar">
                        <div class="user-info">
                            <p class="message">
                                {{ ctrl.user.about_me }}
                                <br><br>
                                <a href="#" class="text-link">{{ ctrl.user.website }}</a>
                            </p>
                            <div class="meta-info">
                                <p><span class="icon ion-location"></span> {{ ctrl.user.location }}, {{ ctrl.user.country }}</p>
                                <p>Joined since {{ ctrl.user.date_joined|date:"MMM dd" }}</p>
                                <strong><a href="#" class="gr-link"><span class="icon ion-ios-chatbubble-outline"></span>Send Hanna a message</a></strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">

                    <div ng-repeat="book in ctrl.books" class="book-card">
                        <div class="cover">
                            <img src="{{ book.cover }}" class="img-responsive">
                        </div>
                        <div class="details">
                            <div>
                                <div class="price pull-right">
                                    <p ng-if="book.price !== '0.00'">${{ book.price }}</p>
                                    <p ng-if="book.price === '0.00'">FREE</p>
                                </div>
                                <h3 class="title">{{ book.title }}</h3>
                                <div>
                                    <div class="rating">
                                    <span class="icon ion-android-star"></span>
                                    <span class="icon ion-android-star"></span>
                                    <span class="icon ion-android-star-outline"></span>
                                    <span class="icon ion-android-star-outline"></span>
                                    <span class="icon ion-android-star-outline"></span>
                                    <span class="status hide">Trending</span>
                                </div>
                                </div>
                            </div>
                            <!-- limited to 300 characters -->
                            <p class="description">{{ book.description }}</p>
                            <div class="social-meta">
                                <p>
                                    <a href ng-click="ctrl.favorite(book)" id="like" class="active"><span class="icon ion-heart"></span> {{ book.interested.length }}</a>
                                    <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>1,202</a>
                                    <a href="#" ><span class="icon ion-chatbubble"></span>{{ book.reviews.length }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="related-books">
                        <h4 class="text-uppercase section-header">RELATED BOOKS</h4>
                        <div class="books">
                            <div class="item">
                                <div class="cover">
                                    <img src="/static/images/book2.jpg" class="img-responsive">
                                </div>  
                                <p class="title">The Road</p>
                                <p class="category">Classics</p>
                                <div class="social-meta">
                                    <p>
                                        <a href="#" id="like" class="active"><span class="icon ion-heart"></span> 12</a>
                                        <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>2</a>
                                        <a href="#" ><span class="icon ion-chatbubble"></span>32</a>
                                    </p>
                                </div>
                            </div><div class="item">
                                <div class="cover">
                                    <img src="/static/images/book2.jpg" class="img-responsive">
                                </div>  
                                <p class="title">The Road</p>
                                <p class="category">Classics</p>
                                <div class="social-meta">
                                    <p>
                                        <a href="#" id="like" class="active"><span class="icon ion-heart"></span> 12</a>
                                        <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>2</a>
                                        <a href="#" ><span class="icon ion-chatbubble"></span>32</a>
                                    </p>
                                </div>
                            </div><div class="item">
                                <div class="cover">
                                    <img src="/static/images/book2.jpg" class="img-responsive">
                                </div>  
                                <p class="title">The Road</p>
                                <p class="category">Classics</p>
                                <div class="social-meta">
                                    <p>
                                        <a href="#" id="like" class="active"><span class="icon ion-heart"></span> 12</a>
                                        <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>2</a>
                                        <a href="#" ><span class="icon ion-chatbubble"></span>32</a>
                                    </p>
                                </div>
                            </div><div class="item">
                                <div class="cover">
                                    <img src="/static/images/book2.jpg" class="img-responsive">
                                </div>  
                                <p class="title">The Road</p>
                                <p class="category">Classics</p>
                                <div class="social-meta">
                                    <p>
                                        <a href="#" id="like" class="active"><span class="icon ion-heart"></span> 12</a>
                                        <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>2</a>
                                        <a href="#" ><span class="icon ion-chatbubble"></span>32</a>
                                    </p>
                                </div>
                            </div><div class="item">
                                <div class="cover">
                                    <img src="/static/images/book2.jpg" class="img-responsive">
                                </div>  
                                <p class="title">The Road</p>
                                <p class="category">Classics</p>
                                <div class="social-meta">
                                    <p>
                                        <a href="#" id="like" class="active"><span class="icon ion-heart"></span> 12</a>
                                        <a href="#" id="read" class="active" ><span class="icon ion-ios-book"></span>2</a>
                                        <a href="#" ><span class="icon ion-chatbubble"></span>32</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>