<div class="main-container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-sm-4">
            <div ngf-drop
                ngf-select 
                ng-model="file" class="drop-box" 
                ngf-drag-over-class="'dragover'" 
                ngf-multiple="false"
                accept="image/*" 
                accept="image/*"
                class="well"
                style="height: 250px; border: 2px dashed #fff">
                <p class="text-center" style="color: white; margin-top: 75px;">drop file here</p>
            </div>
        </div>

        <div class="col-sm-6">
            <form class="form form-horizontal"
                ng-submit="ctrl.createBook(form)">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input class="form-control"
                        placeholder="Your book name"
                        name="title" ng-model="form.title"/>
                </div>

                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea class="form-control" rows="4" name="description" ng-model="form.description"></textarea>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select name="category"
                                ng-model="form.category"
                                ng-options="category.id as category.name for category in ctrl.categories track by category.id" ></options>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input class="form-control" name="tags"/>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-cancel">Cancel</button>
                    <button type="submit" class="btn btn-default">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>